<div class='sidebar-inner'>
    <p><span {{action 'navigate' 'index'}}>{{fa-icon "home"}}</span></p>
    <p><span {{action 'navigate' 'users'}}>{{fa-icon "users"}}</span></p>
    <p><span {{action 'navigate' 'issues'}}>{{fa-icon "snapchat-ghost"}}</span></p>
    <p><span {{action 'navigate' 'followUpTasks'}}>{{fa-icon "clock-o"}}</span></p>
</div>